:root {
  --primary-dark-4: var(--green-dark-4);
  --primary-dark-3: var(--green-dark-3);
  --primary-dark-2: var(--green-dark-2);
  --primary-dark-1: var(--green-dark-1);
  --primary: var(--green);
  --primary-light-1: var(--green-light-1);
  --primary-light-2: var(--green-light-2);
  --primary-light-3: var(--green-light-3);
  --primary-light-4: var(--green-light-4);
}
